@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Proza+Libre:400,700|Raleway:400,700|PT+Sans+Narrow:400,700);
html {
  height: 100%; }

/*scrollbar*/
::-webkit-scrollbar {
  width: 7px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 7px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999; }

.batches .card .card-body {
  padding: 1.5rem 1.5rem; }
