/*---------------------------------STYLE.CSS-----------------------------------*/
html {
  height: 100%;
  scroll-behavior: smooth; }

html body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

a, a:link, a:visited, a:focus, a:hover {
  text-decoration: none; }

.no-padding {
  padding: 0; }

.unstyled-list {
  list-style: none; }

.text-center {
  text-align: center; }

.underline {
  position: relative;
  /*
      margin-left: auto;
      margin-right: auto;
  */
  display: block;
  height: 2px;
  background-color: #00a199;
  width: 0;
  transition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
  -moz-transition: all 300ms ease-in; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

/*---------------------------------STYLES.SCSS---------------------------------*/
@keyframes logo-anim {
  0% {
    background-color: #fff; }
  25% {
    background-color: #00a199; }
  50% {
    background-color: #f78f20; }
  100% {
    background-color: #fff; } }
@keyframes logo-text-anim {
  0% {
    color: #fff; }
  25% {
    color: #00a199; }
  50% {
    color: #f78f20; }
  100% {
    color: #fff; } }
@keyframes logo-c-anim {
  0% {
    color: #fff; }
  25% {
    color: #00a199; }
  50% {
    color: #00a199; }
  100% {
    color: #fff; } }
@keyframes logo-f-anim {
  0% {
    color: #fff; }
  25% {
    color: #f78f20; }
  50% {
    color: #f78f20; }
  100% {
    color: #fff; } }
a:hover, a:focus {
  text-decoration: none; }

/*navbar*/
nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 20, 20, 0.8);
  box-shadow: 0px 1px 5px #2229, 0px 2px 10px #2229, 0px 3px 15px #2229;
  height: 5rem; }
  nav .navigation-bar {
    height: 5rem;
    padding: 0rem 3rem; }
    @media (min-width: 300px) and (max-width: 575px) {
      nav .navigation-bar {
        padding: 0rem 1rem; } }
    @media (min-width: 576px) and (max-width: 995px) {
      nav .navigation-bar {
        padding: 0rem 1rem; } }
    nav .navigation-bar a {
      text-decoration: none; }
      nav .navigation-bar a:focus, nav .navigation-bar a:hover {
        text-decoration: none; }
    nav .navigation-bar div {
      position: relative;
      float: left; }
    nav .navigation-bar div.no-padding {
      padding: 0; }
    nav .navigation-bar .logo {
      height: 5rem;
      padding: 1rem 0rem;
      font-family: "Proza Libre", sans-serif; }
      nav .navigation-bar .logo.no-padding {
        padding: 1rem 0rem; }
      nav .navigation-bar .logo a:hover .logo-logo {
        animation-name: logo-anim;
        animation-timing-function: ease-in;
        animation-duration: 0.7s; }
      nav .navigation-bar .logo a:hover .logo-name .c1 {
        animation-name: logo-c-anim;
        animation-timing-function: ease-in;
        animation-duration: 0.7s; }
      nav .navigation-bar .logo a:hover .logo-name .f1 {
        animation-name: logo-f-anim;
        animation-timing-function: ease-in;
        animation-duration: 0.7s; }
      nav .navigation-bar .logo .logo-logo {
        padding: 0.5rem 0.7rem;
        border-radius: 50%;
        background-color: #fff;
        font-weight: 700;
        font-size: 1.7rem; }
        nav .navigation-bar .logo .logo-logo .c {
          color: #00a199; }
        nav .navigation-bar .logo .logo-logo .f {
          color: #f78f20; }
      nav .navigation-bar .logo .logo-name {
        transition: all 300ms ease-in;
        -webkit-transition: all 300ms ease-in;
        -o-transition: all 300ms ease-in;
        -moz-transition: all 300ms ease-in;
        margin-left: 1rem;
        font-family: "Open Sans", sans-serif;
        font-size: 2rem;
        color: #f1f1f1;
        text-transform: uppercase;
        letter-spacing: 0.1rem; }
    nav .navigation-bar .horizontal-list-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      @media (min-width: 990px) and (max-width: 1200px) {
        nav .navigation-bar .horizontal-list-container {
          display: none; } }
      nav .navigation-bar .horizontal-list-container .horizontal-list {
        margin-right: 0; }
    nav .navigation-bar .horizontal-list {
      margin: 0 auto; }
      nav .navigation-bar .horizontal-list .user-menu .dropdown .btn-default {
        color: #fff;
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
        padding: 1.4rem 2rem; }
        nav .navigation-bar .horizontal-list .user-menu .dropdown .btn-default:focus, nav .navigation-bar .horizontal-list .user-menu .dropdown .btn-default:active, nav .navigation-bar .horizontal-list .user-menu .dropdown .btn-default:active, nav .navigation-bar .horizontal-list .user-menu .dropdown .btn-default:visited {
          outline-style: none; }
      nav .navigation-bar .horizontal-list .user-menu .dropdown ul.dropdown-menu li a:focus {
        color: #00a199; }
      nav .navigation-bar .horizontal-list .user-menu .dropdown ul.dropdown-menu li a:hover {
        color: #00a199; }
      nav .navigation-bar .horizontal-list .user-menu .dropdown .dropdown-menu > li.divider + li > a:focus, nav .navigation-bar .horizontal-list .user-menu .dropdown .dropdown-menu > li.divider + li > a:hover {
        color: #f78720; }
      nav .navigation-bar .horizontal-list li.menu-element {
        display: inline;
        width: auto;
        float: left;
        padding: 1.5rem 0.8rem;
        font-family: "Proza Libre", sans-serif;
        letter-spacing: 0.1rem; }
        nav .navigation-bar .horizontal-list li.menu-element a {
          text-decoration: none;
          color: #fff;
          padding: 1.5rem 1.2rem; }
          nav .navigation-bar .horizontal-list li.menu-element a:hover {
            animation-name: logo-text-anim;
            animation-timing-function: ease-in;
            animation-duration: 0.7s; }
            nav .navigation-bar .horizontal-list li.menu-element a:hover + .underline {
              width: 100%; }
        nav .navigation-bar .horizontal-list li.menu-element .underline {
          margin-top: 1.3rem; }
    nav .navigation-bar .right-menu .horizontal-list li {
      padding: 1.5rem 0rem; }
    nav .navigation-bar .small-menu-div {
      padding: 0; }
      @media (min-width: 990px) and (max-width: 1200px) {
        nav .navigation-bar .small-menu-div {
          width: 70%; } }
      nav .navigation-bar .small-menu-div .toggle-btn {
        color: #c1c1c1;
        margin: 1rem 0; }
        nav .navigation-bar .small-menu-div .toggle-btn:hover {
          color: #f78f20; }

/*sidebar*/
.sidebar {
  z-index: 99;
  right: -200px;
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: rgba(3, 3, 3, 0.95);
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -moz-transition: all 300ms linear; }
  .sidebar.active {
    right: 0; }
  .sidebar #close {
    position: relative;
    float: right;
    margin: 2rem;
    color: #c1c1c1; }
  .sidebar ul {
    list-style: none;
    margin-top: 6rem;
    font-size: 1.8rem; }
    .sidebar ul li {
      padding: 1rem 0; }
      .sidebar ul li a {
        color: #c1c1c1; }
        .sidebar ul li a:hover {
          text-decoration: none;
          color: #f1f1f1; }

/*carousel*/
.banner .rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0; }
  .banner .rslides .banner-bg {
    width: 100%; }
    .banner .rslides .banner-bg .nav-space {
      background-color: #000;
      width: 100%;
      height: 5rem; }
    .banner .rslides .banner-bg .banner-img {
      width: 100vw;
      resize: both; }

/*testimonials*/
.testimonial {
  background-image: url("../images/testimonial.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: center; }
  .testimonial .testimonial-overlay {
    background-color: rgba(10, 10, 10, 0.75);
    padding-top: 8rem;
    padding-bottom: 8rem; }
    .testimonial .testimonial-overlay .carousel-indicators {
      bottom: 1rem; }
  .testimonial .carousel-inner .item img {
    border: 2px solid #f78f20;
    border-radius: 50%;
    padding: 3px; }
  .testimonial .carousel-inner .testimonial-caption {
    padding-bottom: 8rem; }
    .testimonial .carousel-inner .testimonial-caption h2 {
      color: #f78f20;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2.7rem;
      margin-top: 2.5rem; }
    .testimonial .carousel-inner .testimonial-caption h4 {
      color: #f78f20; }
      .testimonial .carousel-inner .testimonial-caption h4 span {
        color: #D8D8D8;
        font-style: italic;
        font-weight: 300; }
    .testimonial .carousel-inner .testimonial-caption p {
      color: #D8D8D8;
      font-size: 1.5rem;
      line-height: 2.2rem;
      padding-top: 5rem; }

.bold {
  font-weight: bold; }

.color-blue {
  color: #00a199; }

.color-orange {
  color: #f78f20; }

.heading {
  font-size: 3.5rem;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
  text-shadow: 0px 1px 2px #444, 0px 2px 4px #444, 0px 3px 8px #444; }
  .heading + .under-head {
    margin-bottom: 5rem; }

.font1 {
  font-family: "Proza Libre", sans-serif; }

.font2 {
  font-family: "Raleway", sans-serif; }

.font3 {
  font-family: "Open Sans", sans-serif; }

.font4 {
  font-family: "PT Sans Narrow", sans-serif; }

.under-head {
  width: 12rem;
  margin-left: auto;
  margin-right: auto; }
  .under-head .head-underline {
    display: block;
    height: 1px;
    margin-top: 1rem;
    background-color: #00a199;
    opacity: 0.3;
    position: relative;
    width: 5rem;
    float: left; }
  .under-head .under-head-dot {
    display: block;
    position: relative;
    float: left; }

/*footer*/
footer {
  background-color: #111; }
  footer .footer-content {
    padding: 2rem 0 3rem 0;
    color: #9c9c9c; }
    footer .footer-content h3 {
      color: #c3c3c3;
      font-weight: bold; }
    footer .footer-content p {
      font-size: 1.5rem; }
    footer .footer-content ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 1.5rem; }
      footer .footer-content ul li {
        transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        padding: 0.1rem 0 0.1rem 0; }
        footer .footer-content ul li a {
          color: #9c9c9c; }
          footer .footer-content ul li a:hover {
            text-decoration: none; }
        footer .footer-content ul li:hover {
          padding-left: .2rem; }
          footer .footer-content ul li:hover a {
            color: darkgray; }
    footer .footer-content .ql {
      padding-left: 6rem; }
      @media (min-width: 300px) and (max-width: 575px) {
        footer .footer-content .ql {
          padding-left: 1.5rem; } }
      @media (min-width: 576px) and (max-width: 995px) {
        footer .footer-content .ql {
          padding-left: 1.5rem; } }
    footer .footer-content .input-field {
      background-color: rgba(89, 89, 89, 0.566);
      border-width: 0;
      padding: 0.5rem;
      color: #9c9c9c; }
      footer .footer-content .input-field:focus, footer .footer-content .input-field:active, footer .footer-content .input-field:active, footer .footer-content .input-field:visited {
        outline-style: none;
        box-shadow: 0px 0px 2px #c3c3c3; }
    footer .footer-content .button {
      background-color: #222;
      border: 1px #2d2d2d;
      padding: 0.5rem;
      color: #f78f20; }
      footer .footer-content .button:focus, footer .footer-content .button:active, footer .footer-content .button:active, footer .footer-content .button:visited {
        outline-style: none; }
      footer .footer-content .button:hover {
        background-color: #1d1d1d; }
  footer .social-strip {
    background-image: -webkit-linear-gradient(left, #3bfff5, #00eee2, #00a199, #00eee2, #3bfff5);
    background-image: -o-linear-gradient(left, #3bfff5, #00eee2, #00a199, #00eee2, #3bfff5);
    background-image: linear-gradient(to right, #3bfff5, #00eee2, #00a199, #00eee2, #3bfff5);
    padding: 0.5rem; }
    footer .social-strip .icon-container {
      margin: 0 auto;
      width: 15rem; }
    footer .social-strip .social-icon {
      position: relative;
      float: left;
      text-align: center;
      font-size: 1.5rem;
      width: 3rem;
      padding: 0.4rem 0.3rem;
      margin: 0.3rem;
      background-color: transparent;
      border-radius: 50%; }
      footer .social-strip .social-icon a {
        color: #fafafa;
        transition: all 200ms ease-in;
        -webkit-transition: all 200ms ease-in;
        -o-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in; }
      footer .social-strip .social-icon:hover.linkedin {
        background-color: #fafafa; }
        footer .social-strip .social-icon:hover.linkedin a {
          color: #0077B5; }
      footer .social-strip .social-icon:hover.fb {
        background-color: #fafafa; }
        footer .social-strip .social-icon:hover.fb a {
          color: #3B5998; }
      footer .social-strip .social-icon:hover.insta {
        background-color: #fafafa; }
        footer .social-strip .social-icon:hover.insta a {
          color: #fb3958; }
      footer .social-strip .social-icon:hover.twitter {
        background-color: #fafafa; }
        footer .social-strip .social-icon:hover.twitter a {
          color: #1da1f2; }
  footer .copyright {
    padding: 1rem 2rem; }
    footer .copyright .left {
      position: relative;
      float: left; }
      @media (min-width: 300px) and (max-width: 575px) {
        footer .copyright .left {
          text-align: center;
          width: 100%;
          float: none; } }
      @media (min-width: 576px) and (max-width: 995px) {
        footer .copyright .left {
          text-align: center;
          width: 100%;
          float: none; } }
    footer .copyright .right {
      position: relative;
      float: right; }
      @media (min-width: 300px) and (max-width: 575px) {
        footer .copyright .right {
          text-align: center;
          width: 100%;
          float: none; } }
      @media (min-width: 576px) and (max-width: 995px) {
        footer .copyright .right {
          text-align: center;
          width: 100%;
          float: none; } }
    footer .copyright p {
      font-size: 1.8rem;
      color: #919191; }

/*video*/
.brief {
  background-color: #111;
  padding: 0; }
  .brief .container {
    margin: 0;
    padding: 0rem 5rem;
    width: 100%; }
  .brief .right {
    padding: 4rem 0rem; }
  .brief .laptop-div {
    width: 100%;
    height: 100%;
    max-width: 1034px;
    max-height: 543px;
    margin: 0 auto; }
  .brief .laptop-div .laptop-div {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0; }
  .brief .laptop-div .video {
    box-sizing: border-box;
    background: url(/images/laptop-skin.png) center center no-repeat;
    background-size: contain;
    padding: 11.9% 15.5% 14.8%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .brief p {
    text-align: justify;
    color: #919191; }
  .brief a:hover, .brief a:focus {
    text-decoration: none;
    color: #f9a851; }

/*Splitter*/
.splitter {
  opacity: 0.8;
  position: relative;
  height: 0.1rem;
  background-image: -webkit-linear-gradient(left, #3bfff5, #00eee2, #00a199, #00eee2, #3bfff5);
  background-image: -o-linear-gradient(left, #3bfff5, #00eee2, #00a199, #00eee2, #3bfff5);
  background-image: linear-gradient(to right, #3bfff5, #00eee2, #00a199, #00eee2, #3bfff5); }

.getstarted {
  background-color: #191919;
  padding: 2rem; }
  .getstarted p {
    color: #ccc;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem; }
  .getstarted a:hover, .getstarted a:focus {
    text-decoration: none; }

.button-gen {
  padding: 0.5rem 1.2rem;
  border: 1px solid #00a199;
  background-color: rgba(0, 161, 153, 0.1);
  color: #00a199; }
  .button-gen:hover {
    text-decoration: none;
    background-color: rgba(0, 161, 153, 0);
    color: #00a199; }

section.courses {
  background-image: url(/images/image16.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  section.courses .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.8);
    padding: 2rem 0; }
  section.courses .container {
    width: 100%;
    margin: 0; }
    section.courses .container .course-slider {
      margin: 0 auto 2rem auto;
      width: 96%; }
      section.courses .container .course-slider .slick-arrow {
        margin: 1rem; }
      section.courses .container .course-slider .spl-card {
        overflow: hidden;
        position: relative;
        margin: 2rem;
        box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.3); }
      section.courses .container .course-slider .spl-card .card {
        height: 35rem;
        display: block;
        width: 100%;
        background-color: rgba(17, 17, 17, 0.7); }
        section.courses .container .course-slider .spl-card .card .header {
          padding: 0.5rem;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain; }
          section.courses .container .course-slider .spl-card .card .header img {
            width: 100%;
            resize: both; }
          section.courses .container .course-slider .spl-card .card .header .col {
            padding: 0.5rem 0; }
          section.courses .container .course-slider .spl-card .card .header .card-heading {
            margin: 1.7rem 0;
            padding-left: 1rem;
            color: #f1f1f1; }
            section.courses .container .course-slider .spl-card .card .header .card-heading h3 {
              margin: 0;
              font-size: 2.5rem;
              color: #00a199;
              font-weight: bold;
              text-shadow: -3px 3px 5px #000; }
              @media (min-width: 576px) and (max-width: 995px) {
                section.courses .container .course-slider .spl-card .card .header .card-heading h3 {
                  font-size: 2rem; } }
              @media (min-width: 300px) and (max-width: 575px) {
                section.courses .container .course-slider .spl-card .card .header .card-heading h3 {
                  font-size: 2.5rem; } }
@inlcude sm {
  section.courses .container .course-slider .spl-card .card .header .card-heading {
    margin: 1.7rem 0; } }
@inlcude xs {}
        section.courses .container .course-slider .spl-card .card .content {
          padding: 0rem 2rem; }
          section.courses .container .course-slider .spl-card .card .content .heading {
            color: #c3c3c3;
            text-shadow: 0px 0px 0px transparent;
            font-size: 2rem;
            font-weight: normal;
            font-family: "PT Sans Narrow", sans-serif; }
          section.courses .container .course-slider .spl-card .card .content ul.feature {
            list-style: none;
            margin: 1rem 0;
            padding: 0; }
            section.courses .container .course-slider .spl-card .card .content ul.feature li {
              padding: 0.2rem 0;
              color: #9c9c9c;
              text-transform: capitalize; }
              section.courses .container .course-slider .spl-card .card .content ul.feature li .icons {
                margin-right: 0.5rem; }
          section.courses .container .course-slider .spl-card .card .content .rating {
            color: #00a199; }
          section.courses .container .course-slider .spl-card .card .content .price p span {
            margin: 1rem; }
          section.courses .container .course-slider .spl-card .card .content .price p .sp {
            color: #f78f20; }
          section.courses .container .course-slider .spl-card .card .content .price p .cp {
            color: #7a4104;
            text-decoration: line-through; }
      section.courses .container .course-slider .spl-card .overlay {
        z-index: 1;
        position: absolute;
        top: 0;
        right: -100%;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        width: 100%;
        height: 100%;
        transition: all 300ms linear;
        -webkit-transition: all 300ms linear;
        -o-transition: all 300ms linear;
        -moz-transition: all 300ms linear; }
        section.courses .container .course-slider .spl-card .overlay .description {
          color: #c3c3c3;
          font-size: 1.5rem;
          font-family: "PT Sans Narrow", sans-serif;
          padding: 2rem;
          letter-spacing: 0.2rem; }
          section.courses .container .course-slider .spl-card .overlay .description .small {
            font-size: 1.2rem; }
          section.courses .container .course-slider .spl-card .overlay .description ul {
            list-style: none;
            margin: 1rem 0;
            padding: 0; }
            section.courses .container .course-slider .spl-card .overlay .description ul li {
              padding: 0.2rem 0;
              color: #9c9c9c;
              text-transform: capitalize; }
              section.courses .container .course-slider .spl-card .overlay .description ul li .icons {
                margin-right: 0.5rem; }
      section.courses .container .course-slider .spl-card:hover .overlay {
        right: 0; }
        section.courses .container .course-slider .spl-card:hover .overlay + .card {
          opacity: 0.1; }

section.allcourses {
  background-image: url(/images/image16.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; }
  section.allcourses .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.9);
    padding: 2rem 0; }
  section.allcourses .container .row .spl-card {
    overflow: hidden;
    position: relative;
    margin: 2rem;
    box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.3); }
  section.allcourses .container .row .spl-card .card {
    height: 35rem;
    display: block;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.7); }
    section.allcourses .container .row .spl-card .card .header {
      padding: 0.5rem 0.5rem 0rem 0.5rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
      section.allcourses .container .row .spl-card .card .header.row {
        margin-left: 0;
        margin-right: 0; }
      section.allcourses .container .row .spl-card .card .header img {
        width: 100%;
        resize: both; }
      section.allcourses .container .row .spl-card .card .header .col {
        padding: 0.5rem 0;
        position: relative;
        float: left; }
        section.allcourses .container .row .spl-card .card .header .col.left {
          width: 25%; }
      section.allcourses .container .row .spl-card .card .header .card-heading {
        width: 75%;
        margin: 1.7rem 0;
        padding-left: 1rem;
        color: #c3c3c3; }
        section.allcourses .container .row .spl-card .card .header .card-heading h3 {
          margin: 0;
          font-size: 2.5rem;
          color: #00a199;
          font-weight: bold;
          text-shadow: -3px 3px 5px #000; }
          @media (min-width: 576px) and (max-width: 995px) {
            section.allcourses .container .row .spl-card .card .header .card-heading h3 {
              font-size: 2rem; } }
          @media (min-width: 300px) and (max-width: 575px) {
            section.allcourses .container .row .spl-card .card .header .card-heading h3 {
              font-size: 2.5rem; } }
@inlcude sm {
  section.allcourses .container .row .spl-card .card .header .card-heading {
    margin: 1.7rem 0; } }
@inlcude xs {}
    section.allcourses .container .row .spl-card .card .content {
      padding: 0rem 2rem; }
      section.allcourses .container .row .spl-card .card .content .heading {
        margin-top: 0;
        color: #c3c3c3;
        text-shadow: 0px 0px 0px transparent;
        font-size: 2rem;
        font-weight: normal;
        font-family: "PT Sans Narrow", sans-serif; }
      section.allcourses .container .row .spl-card .card .content ul.feature {
        list-style: none;
        margin: 1rem 0;
        padding: 0; }
        section.allcourses .container .row .spl-card .card .content ul.feature li {
          padding: 0.2rem 0;
          color: #9c9c9c;
          text-transform: capitalize; }
          section.allcourses .container .row .spl-card .card .content ul.feature li .icons {
            margin-right: 0.5rem; }
      section.allcourses .container .row .spl-card .card .content .rating {
        color: #00a199; }
      section.allcourses .container .row .spl-card .card .content .price p span {
        margin: 1rem; }
      section.allcourses .container .row .spl-card .card .content .price p .sp {
        color: #f78f20; }
      section.allcourses .container .row .spl-card .card .content .price p .cp {
        color: #7a4104;
        text-decoration: line-through; }
  section.allcourses .container .row .spl-card .overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -moz-transition: all 300ms linear; }
    section.allcourses .container .row .spl-card .overlay .description {
      color: #c3c3c3;
      font-size: 1.5rem;
      font-family: "PT Sans Narrow", sans-serif;
      padding: 2rem;
      letter-spacing: 0.2rem; }
      section.allcourses .container .row .spl-card .overlay .description .small {
        font-size: 1.2rem; }
      section.allcourses .container .row .spl-card .overlay .description ul {
        list-style: none;
        margin: 1rem 0;
        padding: 0; }
        section.allcourses .container .row .spl-card .overlay .description ul li {
          padding: 0.2rem 0;
          color: #9c9c9c;
          text-transform: capitalize; }
          section.allcourses .container .row .spl-card .overlay .description ul li .icons {
            margin-right: 0.5rem; }
  section.allcourses .container .row .spl-card:hover .overlay {
    left: 0; }
    section.allcourses .container .row .spl-card:hover .overlay + .card {
      opacity: 0.1; }

section.courses-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  section.courses-banner .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.7);
    padding: 20rem 0; }
    section.courses-banner .overlay .heading.color-orange {
      color: #f78f20; }
    section.courses-banner .overlay .content {
      padding-top: 3rem;
      font-size: 1.5rem;
      color: #d1d1d1; }

section.about-the-course {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  section.about-the-course .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.7);
    padding: 5rem 0 10rem 0; }
    section.about-the-course .overlay .heading.color-orange {
      color: #f78f20; }
    section.about-the-course .overlay .content {
      padding-top: 7.5rem;
      font-size: 1.5rem;
      color: #d1d1d1; }

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(20, 20, 20, 0.8); }
  .loader .loading-animation {
    text-align: center;
    bottom: 100px;
    position: fixed;
    width: 100%; }
    .loader .loading-animation img {
      width: 100px;
      resize: both; }

.slick-initialized .slick-slide:focus {
  outline-style: none; }

[v-cloak] .v-cloak--hidden {
  display: none; }

.desktop-div {
  width: 100%;
  height: 100%;
  max-width: 1034px;
  max-height: 543px;
  margin: 0 auto; }

.desktop-div .desktop-div {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0; }

.desktop-div .video {
  box-sizing: border-box;
  background: url(/images/desktop-skin.png) center center no-repeat;
  background-size: contain;
  padding: 3.4% 10.8% 18.6%;
  /* 11.9% 15.5% 14.8% */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .desktop-div .video .overlay-inside {
    z-index: 1;
    position: absolute;
    left: 9.5%;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 81%;
    height: 69%;
    transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -moz-transition: all 300ms linear; }
    .desktop-div .video .overlay-inside .play-button {
      width: 25%;
      height: 25%;
      margin-top: 25%;
      margin-left: 37.5%;
      padding: 1rem 2rem;
      background-color: rgba(200, 0, 0, 0.5);
      border: none;
      border-radius: 1rem;
      outline-style: none;
      color: #ccc; }
      .desktop-div .video .overlay-inside .play-button:active, .desktop-div .video .overlay-inside .play-button:focus {
        outline: none; }
      .desktop-div .video .overlay-inside .play-button:hover {
        background-color: #dd0000; }

div.side-nav {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 25%;
  right: 0;
  z-index: 1; }
  div.side-nav .side-nav-elements {
    width: 25rem;
    display: block;
    font-size: 2rem;
    padding: 1rem;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    background-color: black;
    margin-top: 1rem;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    position: absolute;
    box-shadow: 0px 1px 5px #2229, 0px 2px 10px #2229, 0px 3px 15px #2229;
    right: -20.2rem; }
    div.side-nav .side-nav-elements a {
      color: #d1d1d1; }
    div.side-nav .side-nav-elements .icon {
      margin-right: 1.5rem; }
    div.side-nav .side-nav-elements.one {
      top: 0; }
    div.side-nav .side-nav-elements.two {
      top: 6rem; }
    div.side-nav .side-nav-elements.three {
      top: 12rem; }
    div.side-nav .side-nav-elements.four {
      top: 18rem; }
    div.side-nav .side-nav-elements.five {
      top: 24rem; }
    div.side-nav .side-nav-elements:hover {
      right: 0; }

#more {
  display: none; }

#read-more-btn {
  cursor: pointer;
  color: #00a199; }
  #read-more-btn:hover {
    color: #f78f20; }

.modal-content.video-modal {
  margin-top: 10rem;
  border-radius: 0px;
  padding: 1rem;
  background-color: #222; }
  .modal-content.video-modal button.close {
    color: #ddd; }
    .modal-content.video-modal button.close:focus {
      outline-style: none; }
    .modal-content.video-modal button.close:hover {
      color: #f1f1f1; }

.icon-rupee {
  margin-right: 0.2rem; }

.pricing-standard, .pricing-premium {
  background-color: #222;
  margin-top: 2rem;
  padding: 1rem; }
  .pricing-standard p, .pricing-premium p {
    margin: 0 0 0.5rem 0;
    letter-spacing: 0.2rem;
    color: #00a199; }
  .pricing-standard h3, .pricing-premium h3 {
    margin: 0 0 1rem 0;
    font-size: 2rem; }
    .pricing-standard h3 span, .pricing-premium h3 span {
      margin: 0.5rem; }
    @media (min-width: 300px) and (max-width: 575px) {
      .pricing-standard h3 .sp, .pricing-standard h3 .cp, .pricing-premium h3 .sp, .pricing-premium h3 .cp {
        display: block; } }
    .pricing-standard h3 .sp, .pricing-premium h3 .sp {
      color: #f78f20; }
    .pricing-standard h3 .cp, .pricing-premium h3 .cp {
      color: #7a4104;
      text-decoration: line-through; }

.col {
  position: relative;
  float: left; }

.plans {
  background-color: #111;
  padding-bottom: 5rem; }
  .plans .standard-plan, .plans .premium-plan {
    width: 46%;
    padding: 1rem 1rem 5rem 1rem;
    box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.8); }
    @media (min-width: 300px) and (max-width: 575px) {
      .plans .standard-plan, .plans .premium-plan {
        width: 90%; } }
    @media (min-width: 576px) and (max-width: 995px) {
      .plans .standard-plan, .plans .premium-plan {
        width: 90%; } }
    .plans .standard-plan .header .title, .plans .premium-plan .header .title {
      font-size: 3rem;
      text-shadow: -3px 3px 5px #000; }
    .plans .standard-plan .features, .plans .premium-plan .features {
      padding-top: 2rem; }
      .plans .standard-plan .features ul, .plans .premium-plan .features ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 2rem; }
        .plans .standard-plan .features ul.col, .plans .premium-plan .features ul.col {
          width: 50%; }
          @media (min-width: 300px) and (max-width: 575px) {
            .plans .standard-plan .features ul.col, .plans .premium-plan .features ul.col {
              width: 100%; } }
          @media (min-width: 576px) and (max-width: 995px) {
            .plans .standard-plan .features ul.col, .plans .premium-plan .features ul.col {
              width: 100%; } }
        .plans .standard-plan .features ul li:first-of-type, .plans .premium-plan .features ul li:first-of-type {
          padding-top: 0; }
        .plans .standard-plan .features ul li, .plans .premium-plan .features ul li {
          text-transform: capitalize;
          padding-top: 1.1rem;
          color: #d1d1d1; }
  .plans .premium-plan {
    margin-left: 4%;
    background: #191919;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #323435, #141516);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #323435, #141516);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    @media (min-width: 300px) and (max-width: 575px) {
      .plans .premium-plan {
        margin-left: 5%;
        margin-right: 5%; } }
    @media (min-width: 576px) and (max-width: 995px) {
      .plans .premium-plan {
        margin-left: 5%;
        margin-right: 5%; } }
    .plans .premium-plan .features ul li:first-of-type {
      padding-top: 0; }
    .plans .premium-plan .features ul li {
      padding-top: 2.35rem; }
  .plans .standard-plan {
    margin-right: 4%;
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #323435, #141516);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #323435, #141516);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    @media (min-width: 300px) and (max-width: 575px) {
      .plans .standard-plan {
        margin-left: 5%;
        margin-right: 5%; } }
    @media (min-width: 576px) and (max-width: 995px) {
      .plans .standard-plan {
        margin-left: 5%;
        margin-right: 5%; } }

.vertical-seperator {
  padding: 0rem 0 0rem 0;
  margin: 0;
  width: 0px;
  height: 33.5rem; }
  @media (min-width: 300px) and (max-width: 575px) {
    .vertical-seperator {
      width: 90%;
      height: 1px;
      margin-left: 5%;
      margin: 5%; } }
  @media (min-width: 576px) and (max-width: 995px) {
    .vertical-seperator {
      width: 90%;
      height: 1px;
      margin-left: 5%;
      margin: 5%; } }
  .vertical-seperator .seperator {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 1px;
    background-color: #00a199;
    opacity: 0.3; }
    @media (min-width: 300px) and (max-width: 575px) {
      .vertical-seperator .seperator {
        width: 100%; } }
    @media (min-width: 576px) and (max-width: 995px) {
      .vertical-seperator .seperator {
        width: 100%; } }

/*# sourceMappingURL=styles.css.map */
