#turn on rewrite engine
RewriteEngine on


#If requested file is not a real directory
RewriteCond %{REQUEST_FILENAME} !-d

#If requested file is not a real file
RewriteCond %{REQUEST_FILENAME} !-f

#Redirect all request to index.php
RewriteRule . index.php [L]