html {
    height: 100%;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 7px; 
}
  
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #ccc;
border-radius: 7px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #999; 
}
.card .card-body {
    padding: 1.5rem 1.5rem;
}
  