@mixin sm {
   @media (min-width: 576px) and (max-width:995px) {
       @content;
   }
}
@mixin ipadPro {
   @media (min-width: 990px) and (max-width:1200px) {
       @content;
   }
}
@mixin xs {
   @media (min-width: 300px) and (max-width:575px) {
       @content;
   }
}
@mixin lg {
   @media (min-width: 996px) {
       @content;
   }
}
section.campaign {
    background: url(/images/background/25.jpg);
    background-position:top;
    background-repeat: no-repeat;
    @include sm {
        background-size: cover;
    }
    @include xs {
        background-size: cover;
    }
    .overlay {
        padding: 8rem 0 4rem 0;
        width: 100%;
        height: 100%;
        background-color: rgba(25, 25, 25, 0.7);
    }
    .batch {
        h3 {
            padding-bottom: 2rem;
            margin: 0;
        }
        margin: 0 1.5rem;
        padding: 2rem 1rem 2rem 0rem;
    }
    .box {
        background-color: #fafafa;
        border-radius: 0.5rem;
        box-shadow: 9px 6px 22px 0 rgba(0, 0, 0, 0.3);
        padding: 1.2rem 1rem;
        margin: 0.5rem;
        min-height: 20rem;
        .unstyled-list {
            padding: 0;
            margin: 0;
            li {
                padding-bottom: 1rem;
            }
        }
    }
}